:root {
  --discord-gray: #36393f;
  --discord-black: #202225;
  --discord-black2: #2f3136;
  --discord-blue: #5865f2;
  --discord-white: #b3b4b6;
  --real-white: #ffffff;
}

@font-face {
  font-family: "noto";
  src: url(./assets/fonts/NotoSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: var(--discord-gray);
  color: var(--discord-white);
  font-family: noto;
}

h1 {
  color: var(--real-white);
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0.5rem 2rem 0.5rem;
}

.global {
  margin-top: 1rem;
}

.bot_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.bot_card {
  width: 220px;
  height: 280px;
  background-color: var(--discord-black2);
  border-radius: 18px;
  box-shadow: 0 4px 6px var(--discord-black), 0 2px 4px var(--discord-black2);
  transition: box-shadow 0.2s;
  transition: transform 0.2s;
}

.bot_card:hover {
  transform: scale(1.05);
}

.bot_card:hover {
  box-shadow: 0 10px 15px var(--discord-black), 0 4px 6px var(--discord-black2);
}

.bot_card > h2 {
  text-align: center;
  font-size: 1.5rem;
}

.bot_img {
  width: 190px;
  border-radius: 18px;
  margin: 15px;
}

a {
  color: var(--discord-white);
  text-decoration: none;
}

.imgTuto {
  border-radius: 18px;
  box-shadow: 0 4px 6px var(--discord-black), 0 2px 4px var(--discord-black2);
  display: block;
  width: 200px;
  margin: auto;
}

.descriptionsBots {
  font-size: 1.5rem;
  margin: 1rem;
}

.descriptions {
  margin: 0 1rem 0 1.5rem;
}

.firstDesc {
  margin-top: 2rem;
}

.descAndCommandes {
  display: flex;
  flex-direction: column;
}

.listeCommandes {
  margin: 0.5rem 1rem 0rem 1.8rem;
}

.listeCommandes > li {
  margin-bottom: 0.5rem;
}

.listeCommandes > li:last-child {
  margin-bottom: 0rem;
}

.icons {
  font-size: 3.5rem;
}

.iconsInstall {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

@media screen and (min-width: 650px) {
  .bot_list {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .descAndCommandes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .blocDC {
    width: 35%;
  }

  .blocDCTwitter {
    width: 50%;
  }

  .descriptions {
    margin: 0;
  }

  .descriptionsBots {
    margin: 3rem 0 1rem 0;
    text-align: center;
  }

  .listeCommandes {
    margin: 0.5rem 0 0 0;
  }

  .iconsInstall {
    justify-content: center;
    gap: 8rem;
    margin-top: 2rem;
  }

  @media screen and (min-width: 1400px) {
    .blocDC {
      width: 25%;
    }
  }

  @media screen and (min-width: 1000px) {
    .blocDCTwitter {
      width: 65%;
    }
  }
}
