:root {
  --discord-gray: #36393f;
  --discord-black: #202225;
  --discord-blue: #5865f2;
  --discord-white: #b3b4b6;
  --real-white: #ffffff;
}

@font-face {
  font-family: "noto";
  src: url(./assets/fonts/NotoSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--discord-gray);
  color: var(--discord-white);
  font-family: noto;
}
